*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #080808;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

#header-container{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-size:cover ;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;
}

.logo-img{
    width: 140px;
}

.nav-container ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

.nav-container ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

.nav-container ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    top: 22px;
    left: 0;
}

.nav-container ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.header-text{
 margin-top: 20%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

.header-text p{
    font-size: 30px;
}

/* ------------about---------- */

#about{
    color: #ababab;
    padding: 80px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 15px;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* .tab-links:hover::after{
    width: 100%;
} */

.tab-links.active-link::after{
    width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span{
    color:#b54769 ;
    font-size: 14px;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* -----------------Sections-------------------- */
#Services{
    padding: 30px 0;
}

.service-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    grid-gap: 40px;
    margin-top: 50px;   
}

.service-list div{
    background-color: #262626;
    border-radius: 10px;
    padding: 40px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px; 
}

.service-list div h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
}

.service-list div:hover{
    background-color:#ff004f ;
    transform: translateY(-10px);
}

/* -------------------------------------portfolio---------------------------- */
#portfolio{
   padding: 50px 0; 
}

.work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.layer{
    background :linear-gradient(rgba(0,0,0,0.6),#ff004f);
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px; 
    padding-right: 40px;   
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}

.layer h3{
    font-weight:500 ;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background-color: #fff;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    margin: 50px auto;
    border: 1px solid #ff004f;
    color: #fff;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: fit-content;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #ff004f;

}

/* ---------------------contact---------------------- */
 .contact-left{
    flex-basis: 35%;
 }

 .contact-right{
    flex-basis: 60%;
 }

 .contact-left p{
    margin-bottom:30px ;
 }

 .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
 }

 .social-icons a {
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s; 
 }

 .social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);

 }

 .btn.btn2{
    display:inline-block;
    background: #ff004f;
 }

 .contact-right form{
    width: 100%;
 }

 form input,form textarea{
    width: 100%;
    border: 0;
    background-color: #262626;
    outline: none;
    padding: 15px 10px;
    margin: 15px 0;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
 }

 form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
 }

 .copyright{
    width: 100%;
    text-align: center;
    font-weight: 300;
    background-color: #262626;
    padding:25px 0 ;
    margin-top: 25px;
 }

 .copyright p i:nth-child(even){
    color: #ff004f;
 }

 .nav-container i{
    display: none;
 }

 /* ---------------------------------for small screens--------------------------- */
 @media only screen and (max-width:600px){
    #header-container{
        background-image: url("../assets/phone-background.png");
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    .header-text p{
        font-size: 20px;
    }

    .nav-container i{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;        
        z-index: 2;
        transition: 0.5s;
    } 

    nav ul li a{
        display: block;
        margin: 25px;
    }

    nav ul  i{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    } 
    
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right:20px ;
    }

    .contact-left,.contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
 }


